.authbody {
      background-image: url('../../../assets/images/home/bg2.jpg') ;
      background-position: center  !important;
      background-repeat: repeat  !important;
      margin: 0 !important;
      height: 100% !important;
    }